*{
	padding: 0px;
	margin: 0px;
}

body{
     background-image: url(/Imagenes/background_perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.actividad a{
  text-decoration:none;  
}

.contenedor{
	width: 980px;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;    
	border: #6BA3E1 solid 10px;
}

.primera_caja{
	width: 600px;
	padding: 10px;
	box-sizing: border-box;
	height: 450px;	
	float: left;
    margin-bottom: 30px;
}

.imagen{
	float: left;
	width: 200px;
    height: 200px;
	margin-bottom: 15px;
}

.info{
	float: right;
	width: 360px;
	box-sizing: border-box;
	margin-top: 25px;
}

.info h1{
    color:blue;
}

.arreglos{
    background-color:cornflowerblue;
    padding: 5px 0px;
}

.actividad{
	clear: both;
	margin: 10px;
}

.segunda_caja{
	float: right;
	width: 310px;
	height: 480px;
    padding: 10px;
    margin-bottom:20px;
    box-sizing: border-box;
}

.segunda_caja h2{
    color:blue;
}

.caja_seg{
    padding: 5px;
    border: 1px black solid;
    background-color:dimgray;
    color: white;
  
}

.mensaje{
    clear: both;
    padding:10px;
    box-sizing:border-box;
}

.acomodar{
      margin-top: 20px;
}

.cajita{
    border:1px rede solid;
    border-radius:10px;
}

.botonEnviar{
    color:white;
    background-color: #2F8BA4;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
}
